<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="netutils" verbose="1">
    <test name="netutils">
        <classes>
            <class name="org.cn.zszhang.common.netutil.impl.FtpClientAdapterApacheTest">
                <methods>
                    <exclude name=".*"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>
